<footer>
  <div class="section bg-dark">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6">
          <%= image_tag asset_path('logo_text.png') %>
          <ul class="list-inline-dash margin-top-20">
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Clients</a></li>
          </ul>
          <p class="margin-top-10">&copy; 2020 <%= t('footer.allrights')%></p>
        </div>
        <div class="col-12 col-md-6 text-md-right">
          <ul class="list-unstyled">
            <li>Calle Los Geranios Mz L Lt 13 - Amaprovi 11401 Nazca, Peru</li>
            <li>nanasqahostel@gmail.com</li>
          </ul>
          <ul class="list-inline-sm icon-sm margin-top-30">
            <li><a class="button-circle button-circle-sm button-circle-white-3" target="_blanck" href="https://www.facebook.com/nanasqa/"><i class="fab fa-facebook-f"></i></a></li>
            <li><a class="button-circle button-circle-sm button-circle-white-3" target="_blanck" href="https://twitter.com/nanasqa"><i class="fab fa-twitter"></i></a></li>
            <li><a class="button-circle button-circle-sm button-circle-white-3" target="_blanck" href="https://www.instagram.com/nanasqa/"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>
      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end footer -->
</footer>
<!-- Scroll to top button -->
<div class="scrolltotop">
  <a class="button-circle button-circle-sm button-circle-dark" href="#"><i class="ti-arrow-up"></i></a>
</div>
<!-- end Scroll to top button -->

